<div class="main">

    <div class="metronome">

        <div class="title">
            <p>Polytronome</p>
        </div>

        <div id="canvasWrapper">
            <canvas #myCanvas id="canvas"></canvas>
        </div>

        <div class="tempo-container">
            <span id="tempo">{{tempo}}</span>
            <span class="bpm">bpm</span>
        </div>

        <div class="controls">
             
            <button class="cbutton cbutton-small tempo-change" (click)="decreaseTempo(10)">-10</button> 
            <button class="cbutton cbutton-medium tempo-change" (click)="decreaseTempo(1)">-</button>

            <button id="play-button" class="cbutton" (click)="metronome.startStop();">
                <span 
                *ngIf="metronome && !metronome.isRunning" 
                id="play-icon" class="material-icons" 
                style="margin-top: 3px;">
                    play_circle </span>
                <span *ngIf="metronome && metronome.isRunning" id="pause-icon" class="material-icons" style="margin-top: 3px;">
                    stop_circle </span>
            </button>

            <button class="cbutton cbutton-medium tempo-change" (click)="increaseTempo(1)">+</button>
            <button class="cbutton cbutton-small tempo-change" (click)="increaseTempo(10)">+10</button> 

        </div>
    </div>
</div>