<div class="main">

    <div class="metronome">

        <div class="title">
            <p>Polytronome</p>
        </div>

        <div id="canvasWrapper">
            <canvas #myCanvas id="canvas"></canvas>
        </div>

        <div class="tempo-container">
            <span id="tempo">{{tempo}}</span>
            <span class="bpm">bpm</span>
        </div>

        <div class="controls">
            <!-- 
            <button class="button tempo-change" data-change="-5">-5</button> -->
            <button class="cbutton tempo-change" (click)="decreaseTempo()">-</button>

            <button id="play-button" class="cbutton" (click)="metronome.startStop();">
                <span id="play-pause-icon" class="material-icons" style="margin-top: 3px;">
                    play_circle </span>
            </button>

            <button class="cbutton tempo-change" (click)="increaseTempo()">+</button>
            <!-- <button class="button tempo-change" data-change="+5">+5</button> -->

        </div>
    </div>
</div>