

.main {
    /* margin-top: 5em; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    padding-left: 5px;
    text-align: center;
    margin-top: 0.7em;
    font-size: 30px;
    font-family: 'Monoton', cursive;
    font-weight: 100;
    color: var(--metronome-text-color-funk);
    text-shadow: var(--metronome-title-text-shadow-funk);
    /* color: var(--metronome-text-color);
    text-shadow: var(--metronome-title-text-shadow); */
    border-radius: 7px;
}

.metronome {
    padding: 0.3em;
    border: 1px solid white;
    margin: 1em;
    max-width: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: var(--metronome-background); */
    background: var(--metronome-background-orange);
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

.controls {
    font-family: 'Montserrat', sans-serif;
    margin: 0.6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.cbutton {
    margin: 0.3em;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    /* color: var(--metronome-controls-color); */
    color: var(--metronome-controls-color-funk);
    border: 0px solid rgb(255, 255, 255);
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    /* background-color: var( --metronome-controls-bg-color); */
    background-color: var( --metronome-controls-bg-color-funk);
    cursor: pointer;
    z-index: 4;
    vertical-align: middle;
    opacity: 0.5;
    transition: 0.5s;
}
.cbutton-medium{
    font-size: 1em;
    width: 2.2em;
    height: 2.2em;
}
.cbutton-small{
    font-size: 0.8em;
    width: 2.1em;
    height: 2.1em;
}

.cbutton:focus {
    outline-width:thin;
    border: none;
}

.cbutton:hover{
    opacity: 1;
}

.tempo-container {
    font-family: 'Inconsolata', monospace;
    padding: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: rgb(3, 22, 19);
    color: #72ce97;
    width: 40%;
    text-align: center;
    border-radius: 7px;
    border: 1px solid rgb(178, 169, 182);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 255, 221), 0 0 0.2em rgb(0, 255, 115);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tempo-change {
    font-family: 'Inconsolata', monospace;
}
