<div id="addMeasuresControls">
    <div style="display: flex; flex-direction: column; margin-right: 2em;">
        <div id="addFiguresBlock">
            <h4>Configuration</h4>
            <hr>
            <div  class="select-group" >
                <label for="mesuresSelect">Figures</label>
                <select name="mesuresSelect" id="mesuresSelect" class="select" [(ngModel)]="selectedFigure">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    <option value=11>11</option>
                    <option value=12>12</option>
                    <option value=13>13</option>
                </select>
                <label for="toneSelect">Sounds</label>
                <select name="toneSelect" id="toneSelect" class="select" [(ngModel)]="selectedTone">
                    <option value=metronome>Metronome</option>
                    <option value=metronome2>Metronome 2</option>
                    <option value=drum>Drum</option>
                    <option value=clap>Clap</option>
                    <option value=spoon>Spoon</option>
                    <option value=hihat>Hi-hat</option>
                </select>
            </div>

        </div>
        <div class="add-remove">
            <button id="addMesures-button" class="control-button">
                <span class="material-icons" style="margin: 3px; margin-left: 3px;" (click)="addFigure()">
                    add
                </span>
            </button>
            <button id="addMesures-button" class="control-button">
                <span class="material-icons" style="margin: 3px; margin-left: 3px;" (click)="removeFigure()">
                    remove
                </span>
            </button>
        </div>
    </div>

    <div style="display: flex; flex-direction: column; margin-top: 0.8em;">
        <div>
            <p>Current selection</p>
        </div>
        <div class="figures-container">
            <div class="polygon-container" *ngIf="figures.includes('1')" (click)="removeClickedFigure(1)">
                <p class="polygon-label">1</p>
                <div class='figure small-circle'></div>

            </div>
            <div class="polygon-container" *ngIf="figures.includes('2')" (click)="removeClickedFigure(2)">
                <p class="polygon-label">2</p>
                <div class="line-wrapper">
                    <div class='line'></div>
                </div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('3')" (click)="removeClickedFigure(3)">
                <p class="polygon-label">3</p>
                <div class='figure triangle'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('4')" (click)="removeClickedFigure(4)">
                <p class="polygon-label">4</p>
                <div class='figure square'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('5')" (click)="removeClickedFigure(5)">
                <p class="polygon-label">5</p>
                <div class='figure pentagon'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('6')" (click)="removeClickedFigure(6)">
                <p class="polygon-label">6</p>
                <div class='figure hexagon'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('7')" (click)="removeClickedFigure(7)">
                <p class="polygon-label">7</p>
                <div class='figure heptagon'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('8')" (click)="removeClickedFigure(8)">
                <p class="polygon-label">8</p>
                <div class='figure octagon'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('9')" (click)="removeClickedFigure(9)">
                <p class="polygon-label">9</p>
                <div class='figure nonagon'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('10')" (click)="removeClickedFigure(10)">
                <p class="polygon-label">10</p>
                <div class='figure decagon'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('11')" (click)="removeClickedFigure(11)">
                <p class="polygon-label">11</p>
                <div class='figure circle'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('12')" (click)="removeClickedFigure(12)">
                <p class="polygon-label">12</p>
                <div class='figure circle'></div>
            </div>
            <div class="polygon-container" *ngIf="figures.includes('13')" (click)="removeClickedFigure(13)">
                <p class="polygon-label">13</p>
                <div class='figure circle'></div>
            </div>
        </div>
    </div>

</div>